In [ ]:
import nltk

In [ ]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [ ]:
sid = SentimentIntensityAnalyzer()

In [ ]:
a = 'This is a good movie'

In [ ]:
sid.polarity_scores(a)

{'compound': 0.4404, 'neg': 0.0, 'neu': 0.508, 'pos': 0.492}

In [ ]:
a = 'this was the best, most awesome movie EVER MADE!!!'

In [ ]:
sid.polarity_scores(a)

{'compound': 0.8877, 'neg': 0.0, 'neu': 0.425, 'pos': 0.575}

In [ ]:
a = 'This was the WORST movie that has ever disgraced the screen.'

In [ ]:
sid.polarity_scores(a)

{'compound': -0.8331, 'neg': 0.465, 'neu': 0.535, 'pos': 0.0}

In [ ]:
# Amazon reviews

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('amazonreviews.tsv', sep='\t')

In [ ]:
df.head()

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...

In [ ]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [ ]:
df.isnull()

      label  review
0     False   False
1     False   False
2     False   False
3     False   False
4     False   False
...     ...     ...
9995  False   False
9996  False   False
9997  False   False
9998  False   False
9999  False   False

[10000 rows x 2 columns]

In [ ]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.shape

(10000, 2)

In [ ]:
blanks = []
for i, lb, rv in df.itertuples():
  if type(rv) == str:
    if rv.isspace():
      blanks.append(i)

In [ ]:
blanks

[]

In [ ]:
# If blanks
df.drop(blanks, inplace=True)

In [ ]:
df.iloc[0]['review']

'Stuning even for the non-gamer: This sound track was beautiful! It paints the senery in your mind so well I would recomend it even to people who hate vid. game music! I have played the game Chrono Cross but out of all of the games I have ever played it has the best music! It backs away from crude keyboarding and takes a fresher step with grate guitars and soulful orchestras. It would impress anyone who cares to listen! ^_^'

In [ ]:
sid.polarity_scores(df.iloc[0]['review'])

{'compound': 0.9454, 'neg': 0.088, 'neu': 0.669, 'pos': 0.243}

In [ ]:
df['scores']=df['review'].apply(lambda review : sid.polarity_scores(review))

In [ ]:
df.head()

  label  ...                                             scores
0   pos  ...  {'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...
1   pos  ...  {'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...
2   pos  ...  {'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...
3   pos  ...  {'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...
4   pos  ...  {'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...

[5 rows x 3 columns]

In [ ]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [ ]:
df.head(15)

   label  ... compound
0    pos  ...   0.9454
1    pos  ...   0.8957
2    pos  ...   0.9858
3    pos  ...   0.9814
4    pos  ...   0.9781
5    pos  ...   0.9900
6    neg  ...  -0.8744
7    pos  ...   0.9908
8    pos  ...   0.8353
9    pos  ...   0.8196
10   neg  ...  -0.9274
11   pos  ...   0.9538
12   pos  ...   0.9850
13   neg  ...   0.9097
14   neg  ...  -0.9312

[15 rows x 4 columns]

In [ ]:
df['compound_score'] = df['compound'].apply(lambda score:'pos' if score >=0 else 'neg')

In [ ]:
df.head()

  label  ... compound_score
0   pos  ...            pos
1   pos  ...            pos
2   pos  ...            pos
3   pos  ...            pos
4   pos  ...            pos

[5 rows x 5 columns]

In [ ]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [ ]:
accuracy_score(df['label'], df['compound_score'])

0.7091

In [ ]:
print(classification_report(df['label'], df['compound_score']))

              precision    recall  f1-score   support

         neg       0.86      0.51      0.64      5097
         pos       0.64      0.91      0.75      4903

    accuracy                           0.71     10000
   macro avg       0.75      0.71      0.70     10000
weighted avg       0.75      0.71      0.70     10000

In [ ]:
print(confusion_matrix(df['label'], df['compound_score']))

[[2623 2474]
 [ 435 4468]]