In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("moviereviews.tsv", sep='\t')

In [ ]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [ ]:
df.isnull()

      label  review
0     False   False
1     False   False
2     False   False
3     False   False
4     False   False
...     ...     ...
1995  False   False
1996  False   False
1997  False   False
1998  False   False
1999  False   False

[2000 rows x 2 columns]

In [ ]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [ ]:
df.dropna(inplace =True)

In [ ]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [ ]:
blanks = [ ]

for i, lb, rv in df.itertuples():
  if type(rv) == str:
    if rv.isspace():
      blanks.append(i)

In [ ]:
blanks

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [ ]:
df.drop(blanks, inplace =True)

In [ ]:
df['label'].value_counts()

neg    969
pos    969
Name: label, dtype: int64

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [ ]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [ ]:
sid= SentimentIntensityAnalyzer()

In [ ]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

In [ ]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [ ]:
df.head()

  label  ... compound
0   neg  ...  -0.9125
1   neg  ...  -0.8618
2   pos  ...   0.9953
3   pos  ...   0.9972
4   neg  ...  -0.7264

[5 rows x 4 columns]

In [ ]:
df['compound_score'] = df['compound'].apply(lambda score:'pos' if score >= 0 else 'neg')

In [ ]:
df.head()

  label  ... compound_score
0   neg  ...            neg
1   neg  ...            neg
2   pos  ...            pos
3   pos  ...            pos
4   neg  ...            neg

[5 rows x 5 columns]

In [ ]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [ ]:
accuracy_score(df['label'], df['compound_score'])

0.6367389060887513

In [ ]:
print(classification_report(df['label'], df['compound_score']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

In [ ]:
print(confusion_matrix(df['label'], df['compound_score']))

[[427 542]
 [162 807]]