In [ ]:
import pandas as pd

In [ ]:
npr = pd.read_csv('npr.csv', engine='python', encoding='utf-8', error_bad_lines=False)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer(max_df=0.95, min_df=2, stop_words='english')

In [ ]:
dtm = tfidf.fit_transform(npr['Article'])

In [ ]:
dtm

<11992x54777 sparse matrix of type '<class 'numpy.float64'>'
	with 3033388 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.decomposition import NMF

In [ ]:
nmf_model = NMF(n_components=7, random_state=42)

In [ ]:
nmf_model.fit(dtm)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
    n_components=7, random_state=42, shuffle=False, solver='cd', tol=0.0001,
    verbose=0)

In [ ]:
tfidf.get_feature_names()[2300]

'albala'

In [ ]:
for i, topic in enumerate(nmf_model.components_):
  print(f"THE TOPIC 15 WORDS FOR TOPIC #{i}")
  print([tfidf.get_feature_names()[index] for index in topic.argsort()[-15:]])
  print('\n')
  print('\n')

THE TOPIC 15 WORDS FOR TOPIC #0
['new', 'research', 'like', 'patients', 'health', 'disease', 'percent', 'women', 'virus', 'study', 'water', 'food', 'people', 'zika', 'says']




THE TOPIC 15 WORDS FOR TOPIC #1
['gop', 'pence', 'presidential', 'russia', 'administration', 'election', 'republican', 'obama', 'white', 'house', 'donald', 'campaign', 'said', 'president', 'trump']




THE TOPIC 15 WORDS FOR TOPIC #2
['senate', 'house', 'people', 'act', 'law', 'tax', 'plan', 'republicans', 'affordable', 'obamacare', 'coverage', 'medicaid', 'insurance', 'care', 'health']




THE TOPIC 15 WORDS FOR TOPIC #3
['officers', 'syria', 'security', 'department', 'law', 'isis', 'russia', 'government', 'state', 'attack', 'president', 'reports', 'court', 'said', 'police']




THE TOPIC 15 WORDS FOR TOPIC #4
['primary', 'cruz', 'election', 'democrats', 'percent', 'party', 'delegates', 'vote', 'state', 'democratic', 'hillary', 'campaign', 'voters', 'sanders', 'clinton']




THE TOPIC 15 WORDS FOR TOPIC #5
['love', 've', 'don', 'album', 'way', 'time', 'song', 'life', 'really', 'know', 'people', 'think', 'just', 'music', 'like']




THE TOPIC 15 WORDS FOR TOPIC #6
['teacher', 'state', 'high', 'says', 'parents', 'devos', 'children', 'college', 'kids', 'teachers', 'student', 'education', 'schools', 'school', 'students']

In [ ]:
topic_results = nmf_model.transform(dtm)

In [ ]:
topic_results[0]

array([0.        , 0.12075603, 0.00140297, 0.05919954, 0.01518909,
       0.        , 0.        ])

In [ ]:
topic_results.argmax(axis=1)

array([1, 1, 1, ..., 0, 4, 3])

In [ ]:
npr['Topic']= topic_results.argmax(axis=1)

In [ ]:
npr.head()

                                             Article  topic Topic Label  Topic
0  In the Washington of 2016, even when the polic...      1    election      1
1    Donald Trump has used Twitter  —   his prefe...      1    election      1
2    Donald Trump is unabashedly praising Russian...      1    election      1
3  Updated at 2:50 p. m. ET, Russian President Vl...      3    politics      3
4  From photography, illustration and video, to d...      6   education      6

In [ ]:
mytopic_dict = {0:'health', 1:'election', 2:'legis',3:'politics',4:'election',5:'music',6:'education'}

npr['Topic Label'] = npr['Topic'].map(mytopic_dict)

In [ ]:
npr.head()

                                             Article  topic Topic Label  Topic
0  In the Washington of 2016, even when the polic...      1    election      1
1    Donald Trump has used Twitter  —   his prefe...      1    election      1
2    Donald Trump is unabashedly praising Russian...      1    election      1
3  Updated at 2:50 p. m. ET, Russian President Vl...      3    politics      3
4  From photography, illustration and video, to d...      6   education      6